<!DOCTYPE>
<head>
  <link rel="shortcut icon" type="image/jpg" href="../images/logo.jpg">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Log-Analyser</title>
  <style>
	body{
	  font: normal 16px Arial, Helvetica, sand-serif;
	  color:blue;
	  background: linear-gradient(to right, #AF7AC5 , #F4D03F);
	}
	#particles-js{
	  background: linear-gradient(to right, #AF7AC5 , #F4D03F);
	  height:100%;
	}
	#login{
	  position:absolute;
	  top:25%;
	  left:35%;
	  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))
	}
  </style>
</head>
<body>
  <div id="particles-js">
    <div id="login" class="col-md-4" style="border:1px solid black;border-radius: 10px;padding: 10px;">
      <center>
    <img src="../images/logo.jpg" style="width: 10%;">
      </center>
    	<h2 class="page-header" style="color: white;text-align: center;">Log-Analyser</h2>
    	<center>
    	<button data-toggle="modal" data-target="#video" style="background-color: transparent;margin: 10px;border-radius: 5px;color: white;border:1px solid black;font-size: 18px;padding: 10px;">Learn How To Use</button>
    	<a href = "/Log-Analyser" style="background-color: transparent;margin: 10px;border-radius: 5px;color: white;border:1px solid black;font-size: 18px;padding: 10px;font-style: none;">Get Started</a>
    	</center>
  	</div>
  </div>


  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <script>
    particlesJS.load('particles-js', '../js/particles.json', function(){
      console.log('particles.json loaded...');
    });
  </script>
</body>
</html>

<!-- modal for video -->

<style>
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 90%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>

<div id="video" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" style="background:linear-gradient(to right, #AF7AC5 , #F4D03F);">
        <center>
        	<iframe width="600" height="330" src="https://www.youtube.com/embed/lR_NoIh1RB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>
    </div>

