<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="image/jpg" href="Images/logo.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="./../style/new.css">
<link rel="stylesheet" type="text/css" href="../style/main.css">
<link rel="stylesheet" type="text/css" href="../style/table.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>

<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/tstamp">Time-Stamp</a>
  <a href="/lsearch" class="active">Log-Search</a>
  <a href="/llogs">Live-Logs</a>
</div>

<div class="topnav" id="myTopnav">
  <a href="/">
    <img src="/Images/logo.jpg" style="width: 35px;margin-left: 10px;">
  </a>
  <div id="imp">
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#video" style="background-color: #82E0AA;">
    <i class="fa fa-youtube-play" aria-hidden="true" style="color: white;margin-top: 8px;margin-right: 10px;font-size: 25px;"></i>
  </button>
  </div>
</div>

<div id="main">
  <span style="font-size:20px;cursor:pointer;margin-left: 19px;" onclick="openNav()">&#9776;</span>

  <div class="container">
    <div class="col-md-12">
      <center>
        <h1>Log-Search</h1>
        <form method="POST" action="/lsearch">
          <input type="text" placeholder="DBG;ERR;etc" name="label" style="width: 60%;padding: 5px;color: black;border:none;border-radius: 0 10px 0 10px;font-size: 20px;">
          <button type="submit" style="background-color: #58D68D;color: white;border:none;border-radius: 10px;font-size: 20px;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </center>
    </div>
    <div class="col-md-12" style="margin-top: 10px;">
      <b>
      <table class="head" style="width: 98.2%;background-color: transparent;">
          <thead>
            <tr>
                <td style="width: 20.1%;text-align: center;background-color: #D5DBDB;color: black;">S.No.</td>
                <!--<td>Time-Stamp</td>-->
                <td style="text-align: center;background-color: #E5E7E9;color: black;">Logs</td>
            </tr>
          </thead>
        </table>
      </b>
      <div id="views">
      <% if(search_results1){ %>
      <% for (var i = 0; i < search_results1.length; i++) { %>
        <table class="inner_table" style="width: 100%;">
        <tbody>
          <tr>
            <td style="color: black;text-align: center;width: 20%;background-color: #E5E7E9;"><%= i + 1 %></td>
            <td style="color: black;text-align: center;background-color: #F2F3F4;"><%= search_results1[i] %></td>
          </tr>
        </tbody>
        </table>
      <% } %>
      <% } %>
    </div>
    </div>

<footer id="footer">
   <div class="footer-bottom text-center">
    Copyright &copy; 2019 Log-Analyser
  </div>
</footer>

<style>
  #footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
</style>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "#D6EAF8";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "#5DADE2";
}
</script>
     
</body>
</html> 

<!-- modal for video -->

<style>
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 90%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>

<!-- Video Visualization -->


<div id="video" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" style="background:linear-gradient(to right, #AF7AC5 , #F4D03F);">
        <center>
          <iframe width="600" height="330" src="https://www.youtube.com/embed/lR_NoIh1RB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>
    </div>